# Extract Tables from webistes

In [1]:
import pandas as pd

In [9]:
# Reading data from a webiste
simpsons = pd.read_html('https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)#Season_1_(1989%E2%80%9390)')

In [10]:
len(simpsons)

23

In [13]:
# Season 1 of the simpsons
simpsons[1].head(3)

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions)
0,1.0,1.0,"""Simpsons Roasting on an Open Fire""",David Silverman,Mimi Pond,"December 17, 1989",7G08,26.7[46]
1,2.0,2.0,"""Bart the Genius""",David Silverman,Jon Vitti,"January 14, 1990",7G02,24.5[46]
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---------------------------------------------------------------------------

# Read csv from url
Website: https://www.football-data.co.uk/englandm.php

In [15]:
df_premier22 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv')

In [17]:
df_premier22.head(3)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00

In [18]:
# rename columns
df_premier22.rename(columns={
    "FTHG":"home_goals",
    "FTAG":"away_goals"}, inplace=True)

In [20]:
df_premier22.head(3)

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00

---------------------------------------------------------------------------

# Extract Tables from PDF

In [28]:
import camelot

In [29]:
tables = camelot.read_pdf("foo.pdf", pages="1")

In [30]:
print(tables)

<TableList n=1>

In [31]:
tables.export("foo.csv", f="csv", compress=True)
tables[0].to_csv("foo.csv")

In [32]:
df_foo = pd.read_csv("foo.csv")
df_foo.head()

,Cycle \nName,KI \n(1/km),Distance \n(mi),Percent Fuel Savings,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,Improved \nSpeed,Decreased \nAccel,Eliminate \nStops,Decreased \nIdle
1,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
2,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
3,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
4,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%